@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-center" style="font-size:50px;">Blazor Project For MidMonthly Exam</h1>

<p class="text-center" style="font-size:30px;">
    Abu Saleh
    <br />
    ROLL: 1272312
    <br />
    CS/PNTL-M/35/01
</p>



<SurveyPrompt Title="How is Blazor working for you?" />
