@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a class="form-control text-center text-decoration-none text-body fw-bold bg-info" href="authentication/profile"><img src="~/1.jpg" class="rounded-circle" style="width:32px;" />&nbsp;&nbsp;Hello,&nbsp;&nbsp;&nbsp; @context.User.Identity?.Name</a>
        <button class="nav-link btn btn-link text-decoration-none btn-sm btn-info" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
